/* your custom style goes here */

.container {
    max-width: 1280px; /*added*/
}

/*karan-css-start*/
.upload button {
	background: #008fca;
	padding: 8px 10px;
	border: none;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.trending-category {
	width: 100%;
	padding: 0px 2px 0px 0px;
}
.trending-category ul {
	border: 1px solid #ccc;
	padding: 10px 10px;
}
.trending-category ul li {
	border: 1px solid #ccc;
	padding: 0px 20px;
	text-align: center;
}
.category-sidebar .sub-cat-menu {
	width: calc(100% - 25%) !important; /* 100% */
	left: 25% !important;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
	color: #fff;
	border: 1px solid #1d9aa5;
	padding: 8px 20px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 0px;
	cursor: pointer;
	background-color: #1d9aa5;
	transition: 0.2s linear;
	box-shadow: 0 0 0 0px rgba(0,0,0,0.2);
	text-align: center;
	width: 180px;
}
.custom-file-upload:hover {
	background-color: transparent;
	transition: 0.2s linear;
	border: 1px solid #1d9aa5;
	color: #1d9aa5 !important;
	box-shadow: 0 0 0 25px rgba(0,0,0,0);
}

/*24-07-2020*/

.about-main {
	background-position: bottom;
	height: 300px;
	display: flex;
	align-items: center;
	background-blend-mode: overlay;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.about-data-title span {
	font-size: 30px;
	font-weight: 600;
	position: relative;
}
.about-data-title span::before {
	height: 2px;
	width: 50%;
	margin: auto;
	background-color: #72bf40;
	content: "";
	position: absolute;
	left: -10px;
	transform: translate(-100%,0%);
	top: 50%;
}
.about-data-title span::after {
	height: 2px;
	width: 50%;
	margin: auto;
	background-color: #72bf40;
	content: "";
	position: absolute;
	right: -10px;
	transform: translate(100%,0%);
	top: 50%;
}
.about-data-subtitle {
	text-align: justify;
}
.about-data-subtitle span {
	font-size: 15px;
	line-height: 30px;
	color: #333;
}

.about-data-title i {
	display: block;
	color: #72bf40;
	font-size: 20px;
}
.about-content span {
	font-size: 35px;
	color: #fff;
	text-shadow: 0px 0px 20px #000;
	font-weight: 600;
	position: relative;
}
.about-content span::before {
	height: 2px;
	width: 60%;
	margin: auto;
	background-color: #fff;
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%,0%);
	bottom: -10px;
}
.about-content span::after {
	height: 2px;
	width: 30%;
	margin: auto;
	background-color: #fff;
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%,0%);
	bottom: -20px;
}
.parent-gap {
	padding: 50px 0px;
}
.about-data-title {
	text-align: center;
	padding: 0px 0px 20px 0px;
}
.payment-option ul {
	padding: 0px;
	margin: 0px;
}
.payment-option ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0px 10px;
}
.payment-option ul li a img {
	width: auto;
	height: 50px;
}
/*blog-css-start*/
.blog-card {
	border: 1px solid #ccc;
	padding: 10px 10px;
	background: #fff;
}
.blog-card img {
	width: 100%;
}
.title a {
	font-size: 18px;
	color: #000;
	line-height: 30px !important;
	display: block;
}
.post-meta span,.post-meta a {
	font-size: 12px;
	color: #777;
}
.card-content {
	padding-top: 10px;
}
/*blog-css-End*/
@media only screen and (max-width: 600px) {
.upload {
	position: absolute;
	left: 60%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.payment-option ul li {
	padding: 0px 5px;
}
.payment-option ul li a img {
	height: 40px;
}
.payment-option {
	padding: 20px 0px;
}
}




/*karancss-start*/

.rkdrop button {
    background-color: transparent;
    color: #000;
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.user button{
    border:1px solid #ccc;
}
.user .dropdown-toggle::after {
	display: none;
}
.home-banner-area {
	background: #fcf9f7;
	padding: 30px 0px 0px 0px;
}